* {
	margin: 0;
	padding: 0;
}


.container-fluid, .container{
	padding: 0;
}


* [class*=" icon-"], * [class^=icon-]{
	float: none;
    position: relative;
    width: auto;
    height: auto;
    text-indent: initial; 
}

	

 body{
	background: #dadee0;
	font-family: $font-family;
	font-size: 100%;

	.body-inner{
		max-width:1600px;
		margin: auto; 
		overflow: hidden; 
	}
	
	.inner{
		@include inherit-parent();
	}
	
	svg{
		font-family: 'Roboto', sans-serif;
	}

	sup{
		font-size: 12px;
	}
	section{
		background: #ffffff;
		
		&.ash{
			background: #f4f4f4;
		} 

		&.light-blue{
			background: #bde6ee;
		} 

		.row_{
			margin-bottom: 50px;

			&:last-child{
				margin-bottom: 0;

				@include mobile(){
					padding: 15px;
				}
			}
		}
		
		&.dark-blue-heading-content{
			padding: 60px 15px; 
			color: $dark-blue-para; 

			.inner-content{ 
				h2{
					margin-bottom: 50px;
					font-weight: 400;
					color: inherit;
				}

				h3{
					margin-bottom: 40px; 
					font-weight: 400;
					color: inherit;
				}  
			}
		}

		&.dark-red-heading-content{
			padding: 60px 15px; 
			color: $title-color; 

			.inner-content{ 
				h2{
					margin-bottom: 50px;
					font-weight: 400;
					color: inherit;
				}

				h3{
					margin-bottom: 40px; 
					font-weight: 400;
					color: inherit;
				}  
			}
		}

		.img-holder{
			position: relative;	

			img{ 
				max-width: 350px; 

				&.full-width{
					max-width: 100%;
				}
			}
		}
	

	
	
		h2{ 
			font-size: $h2-font-size;  
			font-weight: bold;
			color: $title-color;
			line-height: $h2-font-size + 5; ;

			@include mobile(){ 
				font-size: $h2-font-size * (75 / 100);
				line-height: ($h2-font-size + 5) * (75 / 100) ;
			}
		}

		h3{
			font-size: $h3-font-size;
			font-weight: 700;
			line-height: $h3-font-size + 5; ;
		}

		p{
			font-size: $para-font-size;
			margin-bottom: 30px;
			line-height: $para-font-size + 6;
			color: $dark-blue-para;

			a{
				text-decoration: underline !important;	
			}

			i{
				font-style: italic;
			}

			strong{
				font-weight: 600;
			}

			@include mobile(){
				font-size: $para-font-size ;
				margin-bottom: 15px;
				line-height: $para-font-size  + 8;
			}
		} 

		img{
			display: block;
			margin: auto;
		}

		.bordered-content{ 
			padding: 35px;
			border: 3px $title-color solid;
			border-radius: 50px; 

			h3{
				color: $title-color;
				margin-bottom: 40px;
				font-weight: 400;


		    	@include mobile(){ 
					margin-bottom: 30px;
				}
			}
		}

		.index{
			width: 50px;
			height: 50px;
			text-align: center; 
			background: $title-color;
			font-size: 32px;
			font-weight: 700;
			display: table;
			color: #fff;

			@include mobile(){
				font-size: 26px;
			}

			span{
				display: table-cell;
				vertical-align: middle;
			}
		}

		ul.list-bullets{
			position: relative;

			li{
				margin-bottom: 30px;
				font-size: $para-font-size ;
				line-height: $para-font-size + 5;
				color: $dark-blue-para;
				padding-left: 30px;

				i{
					font-style: italic;
				}


				span.hightlited{
					color: $title-color;
					font-weight: 600;
				}
				&:before {
				  content: "•";
				  color: $title-color;
				  font-size: $para-font-size + 7;
				  position: absolute;
				  left: 0;
				}
			}
		}
	}
}


section.header{
	height: 700px;
	@include background-image('../images/oracle-header.jpg', 77% 50%);
	position: relative;

	@include mobile(){
		height: 100vh;
	}

	@include custom-width(767px, 1200px) {
		@include background-image('../images/oracle-header.jpg', 20% 0);	
	}
	 

	.header-inner{
		display: table;
		height: inherit;
		position: relative;
		z-index: 100;

		@include mobile(){
			width: 100%;
		}

		.logo-wrapper{ 
			position: relative;
			z-index: 100;

			.logo{
				display: block;
				float: none;

				@include mobile(){
					position: absolute;
					top: 0;
					width: 110px;
    				height: 48px;
				}
			}

			.logo-sub{
				@include mobile(){
					padding: 15px; 
				}
				.text-red{ color: $base-color; }
			}

			h3{
				font-size: $h3-font-size - 3;
				margin-top: 45px;
				color: $dark-blue-para; 
			}
		}
		
		.header-content{
			position: relative;
			z-index: 99;
			padding-right: 150px;

			@include mobile(){
				padding: 15px;
			}

			@include custom-width(767px, 1200px) {
				padding-right: 0;
			}

			h1 {
				font-size: $h1-font-size;
				line-height: $h1-font-size + 8;
				margin: 30px 0;
				margin-top: 120px;
				color: $title-color;

				@include mobile(){
					font-size: $h1-font-size  * 0.9;
					line-height: ($h1-font-size + 5 ) * 0.9;
				}
			}

			h2{
				font-weight: 400;
				font-size: $h3-font-size - 1;
				line-height: $h3-font-size - 1 + 5 ;
				color: $dark-blue-para;

				@include mobile(){
					font-size: ($h3-font-size - 1) * 0.9;;
					line-height: ($h3-font-size - 1 + 5) * 0.9; 
				}
			}

		}

		
	}

	.text-bg{
		background: rgba(255, 255, 255, 0.8);
		position: absolute;
		height: 100%; 
		width: 100%;
		z-index: 1;
		top: 0;
		left: -60%;

		@include custom-width(767px, 1200px) {
			left: -50%;
		}

		@include custom-width(767px, 992px) {
			left: -50%; 
		}

		@include mobile(){
			left: 0;
		}
	}
}

.navbar {
	background: #f80000;
	border: 0;

	&.navbar-default{
		.navbar-toggle{
			border: 0;

			.icon-bar{
				background-color: #fff;
			}

			&:hover, &:focus{
				background-color: transparent;
			}

		}
	}
	#navbar{
		position: absolute;
	    width: 100%;
	}
	.navbar-nav{
		margin: 0 -15px;
		li{

			&:first-child{
				a{
					span{
						display: none;	
					}
				}
			}

			&.active{
				a{
					background: $title-color;
					color: #fff;

					&:hover{
						background: $title-color;
						color: #fff;
					}
				}
			}
			a{
				background: #404040;
				color: #fff;
				border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
				padding: 15px;


				&:hover{
					background: $title-color;
					color: #fff;
				}
			}
		}
	}
}

nav.navigation{
	background: #3d3d3d; 
	height: 90px;
	z-index: 1000;


	@include tablet() {
		height: 105px;
	}
 

	ul{ 
		display: flex;
		padding: 0 100px;
		height: 100%;

		@include custom-width(767px, 1500px) {
			padding: 0;
		}


		li{
			@include calc('width','100%/7');
	 
			padding: 15px 25px; 
			position: relative;
			text-align: center;

			&:after {
				content: '';
			    width: 1px;
			    height: 30px;
			    top: 30px;
    			bottom: auto;
			    right: 0;
			    position: absolute;
			    background: #5f5f5f;
			}

			@include custom-width(992px, 1400px) {
				padding: 15px 20px; 
			}

			@include custom-width(767px, 992px) {
				padding: 12px; 
			}

			&:first-child{
				a{
					span{
						visibility: hidden;	
					}
				}
			}

			&.active{

				&:before{
					content: '';
				    width: 100%;
				    height: 10px;
				    background: #942645;
				    z-index: 100;
				    position: absolute;
				    top: 0;
				    left: 0;
				}

				
			}


			a{
				color: #dee0e0;
				width: 100%;
				text-align: center;
				font-size: 16px;
				line-height: 20px; 

				span{
			 		display: block;
			 	}
 

				@include custom-width(767px, 1300px) {
					font-size: 14px;
					line-height: 19px;
				}
			}
		}
	}
}


/* Page 1 */

section.overview{
	padding: 60px 15px;
	background: #f4f4f4;


	.overview-inner{
		h2{
			font-size: $h1-font-size;
			margin-bottom: 40px; 
		}

		p{
			color: $dark-blue-para;
			line-height: $para-font-size + 8;
		}

		.img-holder{
			img{  

				
			}

			.overview-anim{
				width: 250px;
				position: relative;
				margin: auto;

				@include custom-width(0px, 1200px){ 
					margin-bottom: 50px;
				}

				img.building{
					width: 170px;
				}

				img.cl-left{
					position: absolute;
				    width: 195px;
				    top: 61%;
				    left: -21%; 
				}

				img.cl-right{
					position: absolute;
					width: 170px;
					top: 56%;
					right: -17%;
				}
			}
		}

	}
}

section.mid-content{ 
	padding: 60px 15px;
	background: #fff;
	color: $dark-blue-para;

	.mid-content-inner{
		h3{
			font-weight: 500;
			color: inherit;
			margin-bottom: 45px;  
			line-height: $h3-font-size + 5;
			 
		}

		p{
			color: inherit;
			font-weight: 700;
			font-size: $para-font-size + 2;
		}
		
		.row{
			margin-top: 60px;

			&:last-child{
				margin-top: 0;
			}

			@include mobile(){
				margin-left: 0;
				margin-right: 0;
			} 

			.list-items{
				padding: 0 0 0 15px;
				width: 33.33%;
				float: left; 
				margin-bottom: 80px;
				
				@include mobile(){
					width: 100%;
					padding-left: 0;
					padding-right: 15px;	
					margin-bottom: 15px;
				}

				@include custom-width(767px, 1200px){ 
					margin-bottom: 25px;

				}

				&.m0{
					margin: 0; 
					@include mobile(){ 
						margin-bottom: 15px;
					}
				}

				.index{
					float: left;
				}

				.item-content{ 
					float: left;
					padding-left: 28px;
					@include calc('width','100% - 50px');


					@include tablet(){ 
						padding: 0 15px;
					}

					h3{
						color: $title-color;
						margin-bottom: 15px;

						@include mobile(){ 
							font-size: $h3-font-size * 0.8;
							line-height: ($h3-font-size * 0.8) + 5 ;
							margin-bottom: 10px;
						}

						@include tablet(){ 
							font-size: $h3-font-size * 0.9;
							line-height: ($h3-font-size * 0.9) + 5 ;
							margin-bottom: 10px;
						}
 
					}
					p{
						font-weight: 400;
						font-size: $para-font-size; 
						
						@include mobile(){ 
							line-height: $para-font-size + 5;
						} 

					}
				}  
			}
		}
	}
}

section.digibook-use{
	padding: 60px 0;
	@include background-image('../images/digibook-useful.jpg',100% 0%, 'no-repeat', 'contain');
	position: relative; 

	@include custom-width(0px, 1200px){  
		@include background-image('../images/digibook-useful.jpg',100% 0%, 'no-repeat', 'cover');
	} 

	.digibook-use-inner{
		position: relative;
		z-index: 100;

		.content{
			h3{
				font-size: $h3-font-size;
				color: $title-color;
				margin-bottom: 40px;

				@include mobile(){
					line-height: $h3-font-size + 5;
				}
			}
			ul.list-bullets{
				li{
					font-size: $para-font-size + 2;
					line-height: $para-font-size + 2 + 6;

					span.hightlited{
						font-weight: 500;
					}
				} 
			}
			  
		} 
	}

	.text-bg{
	background: rgba(255,255,255,1);
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 91%, rgba(255,255,255,0.78) 93%, rgba(255,255,255,0.02) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 91%, rgba(255,255,255,0.78) 93%, rgba(255,255,255,0.02) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 91%, rgba(255,255,255,0.78) 93%, rgba(255,255,255,0.02) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
		position: absolute;
		height: 100%; 
		width: 100%;
		z-index: 1;
		top: 0;
		left: -35%;


		@include mobile(){ 
			left: 0;
			background: rgba(255, 255, 255, 0.85);
		}

		@include tablet(){ 
			left: 0;
			background: rgba(255, 255, 255, 0.85);
		}
	}
}


/* Page 2 */

section.main-content{ 
	position: relative;

	.main-content-inner{
		padding: 60px 15px;
		color: $dark-blue-para;

		h2{
			margin-bottom: 60px;
			font-weight: 500;
			overflow: hidden;
			display: flex;
    		align-items: center;

			.index{
				height: 60px;
				width: 60px;
				display: inline-table;
				vertical-align: middle; 
				float: left;
			}
			em{
				@include calc('width','100% - 60px');
				padding-left: 35px; 
				float: left;

				@include mobile(){ 
					padding-left: 25px;
				}
			}
		}

		.content{ 
			padding-right: 60px;

			&.pl0{
				padding-left: 0;
			}

			&.pr0{
				padding-right: 0;

				@include mobile(){ 
					padding-right: 15px;
				}
			}

			@include mobile(){ 
				padding-right: 15px;
			}

			h3{
				margin-bottom: 40px;
				line-height: $h3-font-size + 5;
				font-weight: 500;
			}

			p{
				margin-bottom: 30px;
			}
		}
		
		.img-holder{
			.table-content{
				.table-column{
					padding: 0;
					position: relative;
					&:first-child{
						.title{
							&:after, &:before{
								display: none;
							}
						}
					}

					.title{
						font-size: $para-font-size;
						padding: 10px;
						color: #fff;
						background: $title-color;
						padding-left: 20px;
						position: relative;
						z-index: 100;  

						$arrow-size: 18px;
						
						&:after, &:before{ 
							@include custom-width(0px, 1200px){ 
								display: none;
							}
						}
			

						&:after {
						    content:"";
						    border-top: $arrow-size solid transparent;
						    border-bottom: $arrow-size solid transparent;
						    position: absolute;
						    border-left: ($arrow-size - 5) $title-color solid;
						    width: 0;
						    height: 0;
						    left:  -($arrow-size  + 5);
						    top: 50%;
						    z-index: 101;
						    -webkit-transform: translate(0, -50%);
						    transform: translate(0, -50%);
						}

						&:before {
						    content:"";
						    border-top: ($arrow-size * 2) solid transparent;
						    border-bottom: ($arrow-size * 2) solid transparent;
						    position: absolute;
						    border-left: (($arrow-size - 5) * 2) #fff solid;
						    width: 0;
						    height: 0;
						    left: -($arrow-size + 5);
						    top: 50%;
						    z-index: 99;
						    -webkit-transform: translate(0, -50%);
						    transform: translate(0, -50%);
						}

					}
					ul.content-list{
						font-size: $para-font-size - 3;
						line-height: $para-font-size - 3 + 5;

						@include custom-width(992px, 1200px){ 
							font-size: $para-font-size * 0.9 - 3;
							line-height: $para-font-size * 0.9 - 3 + 5;
						}

						li{
							height: 50px;
							padding: 8px 0;
							padding-left: 20px; 
							border-bottom: 1px #dee0e0 solid;
							display: flex;
							align-items: center;
							color: $dark-blue-para;
						}
					}
				} 
			}

			.img-row	{
				margin-top: 60px;

				img.first{
					width: 135px;
					float: left;
					margin-top: 60px;
				}

				img.third{
					width: 100px;
					margin-top: 60px;
				}
			}

			&.bordered{
				padding: 60px 0;
				border-top: 1px #dee0e0 solid;
				border-bottom: 1px #dee0e0 solid;

				@include custom-width(0, 992px){ 
					border: 0;	
				}
			}

			&.charts{
				img{
					max-width: 100%;
				}
			}
		}
	}

	img{
		&.clouds{
			&.cloud1{
				width: 250px;	
				position: absolute;	
				top: -30%;
    			right: -30%;
				opacity: 0.45;
			}

			&.cloud2{
				width: 100px;	
				position: absolute;	
				top: 40px;
				left: 0;
				opacity: 0.32;
			}

			&.cloud3{
				width: 160px;	
				position: absolute;	
				bottom: -40%;
    			right: 25%;
				opacity: 0.45;
			}
		}
	}
	&.rebooting{
		 .loader-bg{
		 	background: #eee;;
		 	border-color: #fff;
		 }
		.loader-spinner{
			border: 10px $title-color solid;
		}

		.progress-circular{
			margin-top: 150px;

			@include custom-width(0px, 992px){ 
				margin-top: 30px;
			}
		}
	}
	&.feel-good{

		.main-img-wrapper{
			width: 200px;
			display: block;
			margin: auto;
			margin-top: 60px;
			position: relative;

			@include mobile(){ 
				margin-bottom: 60px;
			}

			img.main-img{
				width: 100%;
			}
		}

		img{
			&.clouds{
				&.cloud1{
					width: 200px;	
					position: absolute;	
					top: 40px;
					right: -50%;
					opacity: 0.3;
				}

				&.cloud2{
					width: 160px;	
					position: absolute;	
					top: 0;
					left: 0;
					opacity: 0.3;
				}

				&.cloud3{
					width: 100px;	
					position: absolute;	
					bottom: -80px;
					right: 	0;
					opacity: 0.3;
				}
			}
		}

	}

	 &.what-to-pay{
	 	.img-holder{
	 		svg{
	 			width: 300px;
	 			display: block;
	 			margin: auto;

	 			.c0012{
	 				opacity: 0.26;
	 			}

	 			.c0013{
	 				opacity: 0.66;
	 			}

	 			.c0014{
	 				opacity: 0.36;
	 			}

	 		}
	 	}
	 }
	



}

section.img-content{
	padding: 60px 15px;
	position: relative; 

	&.tools{ 
		@include background-image('../images/business.jpg',100% 30%);
	}

	&.mangement-challenge{
		padding: 105px 15px;
		@include background-image('../images/management-challenge.jpg',200px 40%, 'repeat');  
	}

	&.singularity{ 
		@include background-image('../images/singularity.jpg',100% 70%,'no-repeat',73%);
		
		@include custom-width(0px, 1250px){ 
			background-position: 180px 0;
			background-size: cover;
		}

		@include custom-width(1300px, 1500px){  
			background-size: 90%;
		}

	}


	.img-content-inner{
		.content{
			z-index: 100;
			padding-right: 50px;

			@include mobile(){
				padding-right: 0;
			}

			h3{
				color: $title-color;
				margin-bottom: 40px;
				font-weight: 500;
			} 

			p{
				margin-bottom: 30px;
			}

		}
	}

	.text-bg{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+1,f4f4f4+55,f4f4f4+100&1+1,1+54,0.81+100 */
	background: -webkit-linear-gradient(left, rgba(244,244,244,1) 1%, rgba(244,244,244,1) 50%, rgba(244,244,244,1) 50%, rgba(244,244,244,0.81) 100%);
	background: -o-linear-gradient(left, rgba(244,244,244,1) 1%, rgba(244,244,244,1) 50%, rgba(244,244,244,1) 50%, rgba(244,244,244,0.81) 100%);
	background: linear-gradient(to right, rgba(244,244,244,1) 1%, rgba(244,244,244,1) 50%, rgba(244,244,244,1) 50%, rgba(244,244,244,0.81) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#cff4f4f4',GradientType=1 ); /* IE6-9 */
		position: absolute;
		height: 100%; 
		width: 100%;
		z-index: 1;
		top: 0;
		left: -45%;
		
		&.gradient-max{
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+1,f4f4f4+74,f4f4f4+100&1+1,1+75,0.81+100 */
		background: -webkit-linear-gradient(left, rgba(244,244,244,1) 1%, rgba(244,244,244,1) 74%, rgba(244,244,244,1) 75%, rgba(244,244,244,0.81) 100%);
		background: -o-linear-gradient(left, rgba(244,244,244,1) 1%, rgba(244,244,244,1) 74%, rgba(244,244,244,1) 75%, rgba(244,244,244,0.81) 100%);
		background: linear-gradient(to right, rgba(244,244,244,1) 1%, rgba(244,244,244,1) 74%, rgba(244,244,244,1) 75%, rgba(244,244,244,0.81) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#cff4f4f4',GradientType=1 ); /* IE6-9 */
		left: -36%;
		
		}
	
		@include mobile(){ 
			left: 0;
			background: rgba(255, 255, 255, 0.85);
		}
	
		@include tablet(){ 
			left: 0;
			background: rgba(255, 255, 255, 0.85);
		}
	}
}

section.engagement{
	padding: 60px 15px; 
	padding-bottom: 20px;

	.engagement-inner{

		.img-holder{
			p{
				color: $title-color;
			}
		}
		.top-content{
			margin-bottom: 80px;
		}

		.top-content, .mid-content{
			img{
				max-width: 100%;
			}
			
			.rightpadding{
				padding-right: 60px; 

				@include mobile(){ 
					padding-right: 15px;
				}
			}
		}

		.mid-content{
			.content{
				@include mobile(){ 
					margin-top: 50px;
				}
				img{ 
					max-width: 245px;
					margin: auto;
					display: block;
					margin-top: 80px; 
				}

				.man{
					position: relative;
					.small-ico{
						width: 42px;

						&.pie{
							position: absolute;
						    top: -18%;
						    left: 22%;
						}

						&.gr1{
							position: absolute;
						    top: -46%;
    						left: 30%;
						}

						&.gr2{
							position: absolute;
						    top: -50%;
    						right: 32%;
						}

						&.gr3{
							position: absolute;
						    top: -19%;
    						right: 21%;
						}
					}
				}
			}
		}

		

		h3{
			color: $dark-blue-para;
			margin-bottom: 40px;
			font-weight: 500;
		}

		p{
			margin-bottom: 30px;
		}
	}
}


/* Section 3*/

section.questions-for{
	padding: 60px 15px; 
	color: $dark-blue-para;

	.questions-for-inner{

		.content{

			&.rightpadding{
				padding-right: 60px;

				@include tablet(){ 
					padding-right: 15px;
					margin-bottom: 50px;
				}

				@include mobile(){ 
					padding-right: 15px;
					margin-bottom: 50px;
				}
			} 

			.bordered-content{   

				ul.list-bullets{
					li{
						&:before{
							color: $dark-blue-para;
						}
					}
				}
			}

			&.key-challenges{
				h3{
					font-weight: 400;
					margin-bottom: 40px;
				}
			}
		}

	}
}


/* Page 4 */

section.time-for-reboot{
	@include background-image('../images/reboot.png',300px 30%);

	@include mobile(){ 
		background-position: 50% 100%;
	}

	@include custom-width(767px, 1200px){ 
		background-position: -10% 100%;
	}

	.time-for-reboot-inner{
		.content{
			position: relative;
			z-index: 100;

			h3{
				margin-bottom: 40px;
				color: $title-color;
				font-weight: 400;
			}
		}
	}
    
	.text-bg{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+1,f4f4f4+55,f4f4f4+100&1+1,1+54,0.81+100 */
	background: -webkit-linear-gradient(left, rgba(244,244,244,1) 1%, rgba(244,244,244,1) 50%, rgba(244,244,244,1) 50%, rgba(244,244,244,0.81) 100%);
	background: -o-linear-gradient(left, rgba(244,244,244,1) 1%, rgba(244,244,244,1) 50%, rgba(244,244,244,1) 50%, rgba(244,244,244,0.81) 100%);
	background: linear-gradient(to right, rgba(244,244,244,1) 1%, rgba(244,244,244,1) 50%, rgba(244,244,244,1) 50%, rgba(244,244,244,0.81) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#cff4f4f4',GradientType=1 ); /* IE6-9 */
 
		left: -35%;

		@include custom-width(0px, 992px){ 
			left: 0;
			background: rgba(244, 244, 244, 0.75);
		}
	}
}

section.does-it-work {
	padding: 60px 15px; 
	color: $dark-blue-para;

	.does-it-work-inner{

		h3{
			margin-bottom: 40px; 
			font-weight: 400;
		} 
		
		.img-holder{

			.main-img-wrapper{
				width: 150px;
				display: block;
				margin: auto;
				margin-top: 110px;
				position: relative;

				@include mobile(){ 
					margin-bottom: 80px;
				}

				img.main-img{
					width: 100%;
				}

				img.small-ico{
					width: 35px;
					opacity: 0.5;

					&.pie{
						position: absolute;
					    top: -36%;
    					left: -24%;
					}

					&.gr1{
						position: absolute;
					    top: 58%;
    					left: -50%;
					}

					&.gr2{
						position: absolute;
					    bottom: -45%;
    					left: -22%;
					}

					&.gr3{
						position: absolute;
					    bottom: -32%;
    					left: 65%;
					}

					&.gr4{
						position: absolute;
					    bottom: 5%;
    					right: -60%;
					}

					&.gr5{
						position: absolute;
					    top: -28%;
					    right: -57%;
					    width: 75px;
					}
				}
			}
		}
	}
}


section.delivery-checklist{
	padding: 0 15px; 

	.delivery-checklist-inner{
		h3{
			margin-bottom: 40px; 
			font-weight: 400;
		}

		.checklist{
			padding-right: 70px;
		}

		.financial-wellness{
			position: relative;



			.bordered-content{
				padding: 50px; 

		    	@include mobile(){ 
					padding: 25px;
				}


			}
		}
		
		ul.list-bullets.timeline{
			position: relative;

			&:before{
				content: '';
				@include calc('height','100% - 70px'); 
				width: 3px;
				background: #cad9de;
				position: absolute;
				top: 30px;
				left: 16px;
			}

			li{
				padding-left: 70px;

				&:before{
					display: none;
				}

				.bullet{
					color: #fff;
					background: $title-color;
					font-size: 14px;
				    display: inline-block;
				    width: 35px;
				    height: 35px;
				    border-radius: 50%;
				    line-height: 36px;
				    text-align: center;
				    position: absolute;
				    left: 0;
				}
			}
		}
		
	}
}


 
	 
section.quantifying-happiness{
	@include background-image('../images/happiness.jpg',-95px -45px, 'no-repeat', 90%);

	@include custom-width(0px, 1200px){ 
		background-size: cover;
		background-position: 0 0;
	}
	.inner-content{ 
		.content{
			z-index: 100;
			position: relative;

			h3{
				color: $title-color;
				margin-bottom: 40px;
				font-weight: 500;
			} 
		}
	}

	.text-bg{
	right: -45%;
	left: inherit;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+0,e8e8e8+42,e8e8e8+100&0.43+0,1+29,1+100 */
background: -moz-linear-gradient(left, rgba(232,232,232,0.43) 0%, rgba(232,232,232,1) 29%, rgba(232,232,232,1) 42%, rgba(232,232,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(232,232,232,0.43) 0%,rgba(232,232,232,1) 29%,rgba(232,232,232,1) 42%,rgba(232,232,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(232,232,232,0.43) 0%,rgba(232,232,232,1) 29%,rgba(232,232,232,1) 42%,rgba(232,232,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ee8e8e8', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-9 */
		
		@include custom-width(0px, 1200px){ 
			right: 0;
			background: rgba(232,232,232,0.83);
		}
	}
}

section.treat-employers{
	padding: 60px 15px;
	padding-bottom: 0 !important;

	.inner-content{ 
		.content{
			
		}

		.img-holder{
			img{
				max-width: 250px;
				margin-top: 100px;

			}
		}
	}
}

section.hr-analytics{
	padding: 0;
	 
	.inner-content{ 
		padding: 60px 15px; 
		border-top: 1px #e9eaeb solid;

		.category-tab{
			 display: flex;
			 margin-top: 20px;

			.nav-tabs{
				border-right: 0;

				li{ 
					border-top: 2px #cad9de solid;
					margin: 0; 


					&:last-child{
						border-bottom: 2px #cad9de solid;
					}


					&.active{
						a{
							border: 0;

							&:before {
								content: '';
							    display: block;
							    width: 2em;
							    height: 2em;
							    background: #f9f9f9;
							    position: absolute;
							    transform: rotate(45deg);
							    box-shadow: -1px 3px 1px rgba(0,0,0,0.08);
							    z-index: 5;
							    right: -48px;
							}
						}
					}

					a{ 
						display: flex;
						align-items: center; 
						padding: 20px 0;
						cursor: pointer;

						span.index{
							width: 40px;
							height: 40px;
							border-radius: 50%; 
							vertical-align: middle;

							i{
								font-size: 24px;
			    				display: block;
			    				line-height: 42px;
							}
						}
							
						span.title{  
							@include calc('width','100% - 80px');
							font-size: $para-font-size;
							color: $dark-blue-para;
							display: inline-block;
							margin-left: auto;
						}

					}
				}
			} 
		}

		.tab-content{
			border-top: 10px $title-color solid;
			background: #f9f9f9;
			padding: 20px 40px;
			height: 100%;
			-webkit-box-shadow: 0px 1px 3px 0.1px rgba(0,0,0,0.16);
			-moz-box-shadow: 0px 1px 3px 0.1px rgba(0,0,0,0.16);
			box-shadow: 0px 1px 3px 0.1px rgba(0,0,0,0.16);

			.tab-pane{
				&.active{
					
				}
			}

			span.hightlited{
				font-weight: 600;
				color:  $title-color;
			}
		}
	}
}

section.what-matters{
	.inner-content{ 
		
	}
}


section.engagement-checklist{
	padding: 0 15px; 

	.inner-content{
		h3{
			margin-bottom: 40px; 
			font-weight: 400;
			color: $title-color;
		}

		 
		ul.list-bullets.timeline{
			position: relative;

			&:before{
				content: '';
				@include calc('height','100% - 70px'); 
				width: 3px;
				background: #cad9de;
				position: absolute;
				top: 30px;
				left: 16px;
			}

			li{
				padding-left: 70px;

				&:before{
					display: none;
				}

				.bullet{
					color: #fff;
					background: $title-color;
					font-size: 14px;
				    display: inline-block;
				    width: 35px;
				    height: 35px;
				    border-radius: 50%;
				    line-height: 36px;
				    text-align: center;
				    position: absolute;
				    left: 0;
				}
			}
		}

		.financial-wellness{
			position: relative;


			@include custom-width(0px, 992px){ 
				display: none;
			}

			img{

				&.main-img{
					width: 270px;
					margin-top: 110px;
				}

				&.clouds{
					&.cloud1{
						width: 215px;	
						position: absolute;	
						top: -15%;
						right: 	0;
						opacity: 1;
					}

					&.cloud2{
						width: 200px;	
						position: absolute;	
						top: 40px;
						left: -10%;
						opacity: 0.47;
					}

					&.cloud3{
						width: 160px;	
						position: absolute;	
						bottom: -30%;
						right: 	0;
						opacity: 0.79;
					}
				}
			}
		}
			
		
	}
}


/* Section 6 */

section.rewards{
	@include background-image('../images/rewards.jpg');

	@include custom-width(0px, 1200px){ 
		background-size: cover;
	}
	.inner-content{ 
		.content{
			z-index: 100;
			position: relative;

			h3{
				color: $title-color;
				margin-bottom: 40px;
				font-weight: 500;
			} 
		}
	}

	.text-bg{
	right: -45%;
	left: inherit;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+0,e8e8e8+42,e8e8e8+100&0.43+0,1+29,1+100 */
background: -moz-linear-gradient(left, rgba(232,232,232,0.43) 0%, rgba(232,232,232,1) 15%, rgba(232,232,232,1) 42%, rgba(232,232,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(232,232,232,0.43) 0%,rgba(232,232,232,1) 15%,rgba(232,232,232,1) 42%,rgba(232,232,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(232,232,232,0.43) 0%,rgba(232,232,232,1) 15%,rgba(232,232,232,1) 42%,rgba(232,232,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ee8e8e8', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-9 */
		
		@include custom-width(992px,  1200px){ 
		background: -webkit-linear-gradient(left, rgba(232,232,232,0.43) 0%, rgba(232,232,232,1) 60%, rgba(232,232,232,1) 42%, rgba(232,232,232,1) 100%);
		background: -o-linear-gradient(left, rgba(232,232,232,0.43) 0%, rgba(232,232,232,1) 60%, rgba(232,232,232,1) 42%, rgba(232,232,232,1) 100%);
		background: linear-gradient(to right, rgba(232,232,232,0.43) 0%, rgba(232,232,232,1) 60%, rgba(232,232,232,1) 42%, rgba(232,232,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		left: 0;
		}

		@include custom-width(0px,  992px){ 
			background:  rgba(232,232,232,0.83);
			right: 0;
		}
	}
}

section.understand-workers{
	padding: 60px 15px;  

	.inner-content{
		h3{
			margin-bottom: 40px; 
			font-weight: 400;
			color: $dark-blue-para;
		}

		 
		ul.list-bullets.timeline{
			position: relative; 
			padding-top: 20px;

			&:before{
				content: '';
				@include calc('height','100% - 70px'); 
				width: 3px;
				background: #cad9de;
				position: absolute;
				top: 30px;
				left: 16px;
			}

			li{
				padding-left: 70px;

				&:before{
					display: none;
				}

				.bullet{
					color: #fff;
					background: $title-color;
					font-size: 14px;
				    display: inline-block;
				    width: 35px;
				    height: 35px;
				    border-radius: 50%;
				    line-height: 36px;
				    text-align: center;
				    position: absolute;
				    left: 0;
				}
			}
		}

		.progressbar{
			p{
				margin-bottom: 15px;

				strong{
					color: $title-color;
				}
			}


			@include custom-width(0px,  992px){ 
				 margin-top: 80px;
			}

			.progress{
				border-radius: 0;
				background-color: #dee0e0;
				box-shadow: none;

				

				.progress-bar{
					background: #00758f;

				}
			}

			svg{
				width: 300px;
				display: block;
				margin: auto;
				margin-top: 150px;

				@include custom-width(0px,  992px){ 
					 margin-top: 50px;
				}
			}
			
		}
	}
}



section.agile{ 
	.inner-content{
		.agile-process{
			ul{
				

				li{ 
					display: flex;
					align-items: center;
					padding: 10px 15px;
					padding-left: 0;
					margin-bottom: 25px;
					position: relative;

					&:nth-child(n){
						background: #dee0e0;
					}

					&:nth-child(2n){
						background: #cad9de;
					}

					&:last-child{
 						padding: 15px;
 						background: $title-color;
						color: #fff;
						text-align: center;

						&:after{
							display: none;
						}

						h5{ 
							font-size: $h4-font-size - 4;
						}

					}

					&:after{
						content: '';
					    display: block;
					    width: 30px;
					    height: 30px;
					    background: inherit;
					    position: absolute;
					    transform: rotate(45deg); 
					    z-index: 5; 
					    left: 48%;
    					bottom: -8px;
					}
 
					.inline{
						float: left;
					}
					.number{
						width: 90px;
						display: flex;
						align-items: center;
						height: 100%;

						span{
							width: 100%;
							text-align: center;
							font-size: $h1-font-size;
						}
					}
					.desc{
						z-index: 10;
						@include calc('width','100% - 160px'); 
						padding-right: 50px;
						

						@include mobile(){ 
							padding-right: 20px;
						}

						@include custom-width(0px, 400px){ 
							@include calc('width','100% - 90px'); 
							padding-right: 0;
						}


						h4{
							font-size: $h4-font-size + 2;
							margin-bottom: 10px; 

							@include mobile(){ 
								font-size: $h4-font-size; 
							}
						}
						p{
							font-size: $para-font-size - 2;
							line-height: $para-font-size - 2 + 5;
							margin-bottom: 0;
						}
						
					}
					.image{
						width: 70px;

						@include custom-width(0px, 400px){ 
							display: none;
						}
					}
				}
			}
		}
	}
}

section.diverse-teams{ 
	 

		.img-holder{
			margin-top: 250px;

			@include custom-width(0px, 992px){ 
				margin-top: 30px;
			}
			
			.img-wrapper{
				width: 240px;
				display: block;
				margin: auto;
				position: relative;

				img{
					&.sub-img{
						&.first{
							width: 22px;
							position: absolute;
						    top: 45%;
						    left: -14%;
						    opacity: 0.7;
						}

						&.second{
							width: 80px;
							position: absolute;
						    top: 0;
    						left: 55px;
						    opacity: 0.25;
						}

						&.third{
							width: 50px;
							position: absolute;
						    top: 20%;
    						right: -40%;
						    opacity: 0.45;
						}


						&.fourth{
							width: 100px;
							position: absolute;
						    bottom: -20%;
    						right: 20%;
						    opacity: 0.11;
						}
					}
				}
			}

			img{
				&.main-img{
					width: 300px;
					z-index: 100;
					position: relative;
				}
				&.clouds{
					&.cloud1{
						width: 160px;	
						position: absolute;	
						top: -40%;
		    			right: -20%;
						opacity: 0.45;
					}

					&.cloud2{
						width: 230px;	
						position: absolute;	
						top: -40%;
    					left: 5%;
						opacity: 0.32;
					}

					&.cloud3{
						width: 100px;	
						position: absolute;	
						bottom: -40%;
		    			right: 25%;
						opacity: 0.45;
					}
				}
			}	

			
		}
		
	 

	.bottom-content{
		padding-top: 60px;
		margin-top: 30px;
		border-top: 1px #dee0e0 solid;

		
	}
}

section.action-plan{
	padding-bottom: 80px;
	position: relative;

	.inner-content{ 

		.bg-img-top{
		    opacity: 0.05;
		    position: absolute;
		    width: 300px;
		    right: 14%;
		    top: 3%;
			 
		}

		.bg-img-bottom{
			opacity: 0.05;
		    position: absolute;
		    width: 250px;
		    left: 8%;
		    bottom: 15%;
		    @include rotate(-30deg);
		}

		p.white{
			color: #fff;
		}

		ul.custom-tabs{ 
			overflow: hidden;
			min-height: 640px;
			margin-top: 60px;

			@include mobile(){
				display: table;
				margin: auto;
				min-height: 840px;
			}

			li.tab{ 
				display: inline-block;
				position: relative;
				padding: 0;

				@include mobile(){
					position: inherit;
					margin-right: 10px;
				}

				&.active{
					

					&:before{
						content:"";
						width: 3px;
						height: 75px;
						background: #fff;
						position: absolute;
					    top: 105px;
					    left: 43px;

					    @include custom-width(767px, 1200px){
							top: 105px;
   		 					left: 76px;
						}

					    @include mobile(){
							display: none;
						}
					}

					&:after{
						content: "";
					    width: 12px;
					    height: 12px;
					    background: #fff;
					    position: absolute;
					    top: 100px;
					    left: 39px;
					    border-radius: 10px;

					    @include custom-width(767px, 1200px){
							top: 100px;
    						left: 72px;
						}

					   
					}
					.round{
						color:#fff;

						i{
							display: table-cell;
						}
					}
					.tab-content{
						display: block;
					}
				}

				.round{
					width: 90px;
					height: 90px;
					border: 8px solid;
					border-radius: 50%;
					display: table;
					color: #a9cdd5;
					cursor: pointer; 

					@include custom-width(767px, 1200px){
						margin: auto;
					}

					@include mobile(){
						width: 40px;
						height: 40px;
						border: 5px solid;
					}

					i{
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						font-size: 30px;
						color: inherit;
						display: none;

						@include mobile(){
							font-size: 10px;
						}
					}
				}

			}

			.tab-content{
				position: absolute;
				display: none;
				border: 3px #fff solid;
				width: 620px;
				margin-top: 90px;
				padding: 30px;

				@include custom-width(767px, 1200px){
					width: 500px;
				}

				@include mobile(){
					margin-top: 30px;
					left: 15px;
					@include calc('width','100% - 30px');

				}
				
				&.right{
					right: 0;

					@include mobile(){
						right: inherit;
					}
				}
				ul.list-bullets{
					li{
						&:before{
							color: $dark-blue-para;
						}

						&:last-child{
							margin-bottom: 0;
						}
					}
				}

				span.number{
					padding-right: 10px;
				}

				p{
					margin-bottom: 30px;
				}
			}
		}
	}
}

 

section.references{
	padding: 60px 15px; 

	.references-inner{
		border-top: 1px #dee0e0 solid;
		padding-top: 28px;

		.links{
			font-size: 12px;
			line-height: 17px;

			ul{

				li{ 
					padding-left: 30px;
					position: relative;
					margin-bottom: 10px;

					span{
						position: absolute;
						left: 0;
					}

					a{ 
						text-decoration: underline;
					}
				}
			} 
		}
	}
}



section.footer-navigation{
	height: 100px;
	background: $title-color; 
	padding: 0 15px; 

	.footer-navigation-inner{
		display: flex;
		align-items: center;
		height: inherit;

		.prev{
			float: left; 
			display: flex;
	    	align-items: center;

	    	@include mobile(){ 
				width: 50%; 
			}

	    	em{
	    		margin-left: 55px;
	    		line-height: 17px;

	    		span{
	    			 text-align: left;
	    		}


		    	@include mobile(){ 
					text-align: left; 
				}

	    		@include custom-width(0px, 1200px){ 
					margin-left: 15px;
				}
	    	}

	    	a{
	    		&:hover{
					i.arrow{
						@include transform-translate(-15px, 0); 
						
					}
				}
		    }
		}
		.next{
			float: right; 
			display: flex;
	    	align-items: center;
	    	margin-left: auto;
    		order: 2;

    		@include mobile(){ 
				width: 50%; 
			}
			
			span{
				text-align: right;
			}

	    	em{
	    		margin-right: 55px;
	    		line-height: 17px;


		    	@include mobile(){ 
					text-align: right; 
				}

	    		@include custom-width(0px, 1200px){ 
					margin-right: 15px;
				}
	    	}

	    	a{
	    		&:hover{
					i.arrow{
						@include transform-translate(15px, 0); 
						
					}
				}
		    }
		}

		a{
			color: #fff;
			text-align: right;
			font-size: $para-font-size - 4;
			text-decoration: none;
			display: flex;
			align-items: center; 

			span{
				display: block;
				margin-bottom: 10px;
				font-size: $para-font-size + 2;
			}  
		}

		i.arrow{
			color: #fff;
			font-size: $para-font-size + 2;
			@include transition-effect(0.5s,all,ease);

		}
	}
	
}

ul.u10-links li a {
	font-size: 14px;
}


.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
.vertical-text {
  margin-top:50px;
  border: none;
  position: relative;
}
.vertical-text>li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.vertical-text>li>a {
  border-bottom: 1px solid #ddd;
  border-right-color: transparent;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
  border-bottom-color: transparent;
  border-right-color: #ddd;
  border-left-color: #ddd;
}
.vertical-text.tabs-left {
  left: -50px;
}
.vertical-text.tabs-right {
  right: -50px;
}
.vertical-text.tabs-right>li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.vertical-text.tabs-left>li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.circular-progress-bar {
  position: relative;
  margin: 0 auto;
  transform: rotate(-90deg);
}

.progress-percentage, .progress-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  text-align: center;
  padding: 0px 60px;
}

.progress-percentage {
  font-size: 60px;
  left: 60%;
}

.progress-text {
  left: 35%;
  color: #585858;
  font-size: 21px;
}


.cta.cta--download{
	display: block;
    position: fixed;
    top: 21.5%;
    right: 0px;
    transform: translateY(-50%);
    z-index: 1000;

    @include custom-width(0px, 1200px){
    	display: none;	
    }

     a {
	    display: block;
	    background-color: $title-color;
	    color: rgb(255, 255, 255);
	    font-size: 1.6rem;
	    font-weight: 700;   
	    border-image: initial;
	    border-right: 0px;
	    padding: 1rem;
	    font-size: 20px;
	    line-height: 25px;	
	    text-align: center;	
	}

}