

$font-family: Arial, Helvetica, sans-serif;
$h1-font-size: 40px;
$h2-font-size: 40px;
$h3-font-size: 26px;
$h4-font-size: 22px;
$timeline-width: 117px;
$blockquote-font-size: 25px;
$h3-title-color: #8aadbf;
$para-font-size: 18px;
$base-color: #f80000;
$dark-blue: #003b4d;
$title-color: #942645;
$dark-blue-para: #003b4d;


/* Breakpoints */

$mobile-sm-width: 400px;
$tablet-width: 768px;
$desktop-sm-width: 1024px;
$desktop-width: 1200px;

